#Rectangle_739 {
  fill: rgba(1, 52, 83, 1);
}
.Rectangle_739 {
  filter: drop-shadow(0px 8px 16px rgba(0, 91, 146, 0.239));
  position: absolute;
  overflow: visible;
  width: 246px;
  height: 100px;
  left: 0px;
  top: 0px;
}
