@media screen and (min-width: 500px) {
    #Notification {
        position: absolute;
        width: 37px;
        height: 34px;
        left: 83%;
        top: 15px;
        overflow: visible;
    }

    #Chart_Button_Copy {
        position: absolute;
        width: 32px;
        height: 32px;
        left: 0px;
        top: 2px;
        overflow: visible;
    }

    #Chart_Area {
        opacity: 0.08;
        fill: rgba(116, 209, 216, 1);
    }

    .Chart_Area {
        position: absolute;
        overflow: visible;
        width: 32px;
        height: 32px;
        left: 0px;
        top: 0px;
    }

    #fi-sr-bell {
        position: absolute;
        width: 12.983px;
        height: 14.481px;
        left: 9.509px;
        top: 8.76px;
        overflow: visible;
    }

    #Path_453 {
        fill: rgba(116, 209, 216, 1);
    }

    .Path_453 {
        overflow: visible;
        position: absolute;
        width: 5.522px;
        height: 1.811px;
        left: 3.821px;
        top: 12.67px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_454 {
        fill: rgba(116, 209, 216, 1);
    }

    .Path_454 {
        overflow: visible;
        position: absolute;
        width: 12.983px;
        height: 11.463px;
        left: 0px;
        top: 0px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Chart_Notification {
        position: absolute;
        width: 16px;
        height: 16px;
        left: 21px;
        top: 0px;
        overflow: visible;
    }

    #Chart_Notification_Area {
        fill: rgba(255, 110, 110, 1);
        stroke: rgba(255, 255, 255, 1);
        stroke-width: 1.1428571939468384px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 10;
        shape-rendering: auto;
    }

    .Chart_Notification_Area {
        position: absolute;
        overflow: visible;
        width: 16px;
        height: 16px;
        left: 0px;
        top: 0px;
    }

    #n_ {
        left: 6px;
        top: -23px;
        position: absolute;
        overflow: visible;
        width: 5px;
        white-space: nowrap;
        text-align: left;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 8px;
        color: rgba(255, 255, 255, 1);
    }

    #Jessica_Smith {
        left: 0px;
        top: 6px;
        overflow: visible;
        width: 130px;
        white-space: nowrap;
        text-align: left;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: rgba(61, 61, 61, 1);
        letter-spacing: 0.14px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 499px) {
    #Notification {
        position: absolute;
        width: 37px;
        height: 34px;
        left: 83%;
        top: 15px;
        overflow: visible;
    }

    #Chart_Button_Copy {
        position: absolute;
        width: 32px;
        height: 32px;
        left: 0px;
        top: 2px;
        overflow: visible;
    }

    #Chart_Area {
        opacity: 0.08;
        fill: rgba(116, 209, 216, 1);
    }

    .Chart_Area {
        position: absolute;
        overflow: visible;
        width: 32px;
        height: 32px;
        left: 0px;
        top: 0px;
    }

    #fi-sr-bell {
        position: absolute;
        width: 12.983px;
        height: 14.481px;
        left: 9.509px;
        top: 8.76px;
        overflow: visible;
    }

    #Path_453 {
        fill: rgba(116, 209, 216, 1);
    }

    .Path_453 {
        overflow: visible;
        position: absolute;
        width: 5.522px;
        height: 1.811px;
        left: 3.821px;
        top: 12.67px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Path_454 {
        fill: rgba(116, 209, 216, 1);
    }

    .Path_454 {
        overflow: visible;
        position: absolute;
        width: 12.983px;
        height: 11.463px;
        left: 0px;
        top: 0px;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    #Chart_Notification {
        position: absolute;
        width: 16px;
        height: 16px;
        left: 21px;
        top: 0px;
        overflow: visible;
    }

    #Chart_Notification_Area {
        fill: rgba(255, 110, 110, 1);
        stroke: rgba(255, 255, 255, 1);
        stroke-width: 1.1428571939468384px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 10;
        shape-rendering: auto;
    }

    .Chart_Notification_Area {
        position: absolute;
        overflow: visible;
        width: 16px;
        height: 16px;
        left: 0px;
        top: 0px;
    }

    #n_ {
        left: 6px;
        top: -23px;
        position: absolute;
        overflow: visible;
        width: 5px;
        white-space: nowrap;
        text-align: left;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 8px;
        color: rgba(255, 255, 255, 1);
    }

    #Jessica_Smith {
        left: 0px;
        top: 6px;
        overflow: visible;
        width: 130px;
        white-space: nowrap;
        text-align: left;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: rgba(61, 61, 61, 1);
        letter-spacing: 0.14px;
        margin-right: 20px;
    }
}